html {
    font-size: 62.5%;
}
body {
    font-size: 1.6em;
}

a {
    text-decoration: none;
}

.container {
    width: 480px;
    margin: 40px auto;
}

h1 {
    border-bottom: 1px solid;
    font-size: 18px;
    margin: 16px 0;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
}

h1 > a {
    font-style: 16px;
    font-weight: normal;
    margin-left: auto;
}

h2 {
    font-style: 16px;
    margin-top: 40px;
}

ul {
    /* list-style: none; */
    padding-inline-start: 0;
}

li {
    line-height: 1.6;
    margin-bottom: 8px;
    display: flex;
}

.back-link {
    font-size: 14px;
}

.container > p {
    line-height: 1.6;
}

li > span {
    margin-left: auto;
}


input,
textarea {
    padding: 4px;
    width: 100%;
    /* box-sizing: border-box; */
}

textarea {
    height: 160px;
}

button {
    padding: 4px 8px;
    font-style: 14px;
}

.form-group {
    margin-bottom: 16px;
}

.form-button {
    text-align: right;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

.button {
    /* ボタンのボーダーを無くす */
    border: none;
    /* ボタンの背景色を無くす */
    background: transparent;
    font-size: 16px;
    color: #1155cc;
    font-weight: normal;
    cursor: pointer;
    /* ボタンの上下のズレを調整 */
    vertical-align: 1px;
}

.comment-form {
    display: flex;
}

.comment-form > button {
    margin-left: 8px;
}

/* コメントの横に[x]ボタンを配置する */
.delete-comment {
    display: inline-block;
}













